<div class="info-input" style="flex:100%">
    <h2 class="parents-title" style="flex:100%">Parents/Guardian</h2>
    <table class="parents-guardian">
        <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th>Office</th>
            <th>Contact Number</th>
            <th>Email Address</th>
        </tr>
        <tr>
            <td><input style="width: 100%;" type="text" class="mothername" name="mothername" placeholder="Name of Mother" ></td>
            <td><input style="width: 100%;" type="text" class="motheroccupation" name="motheroccupation" placeholder="Occupation" ></td>
            <td><input style="width: 100%;" type="text" class="motheroffice" name="motheroffice" placeholder="Office" ></td>
            <td><input style="width: 100%;" type="number" class="mothercontact" name="mothercontact" placeholder="Contact Number" ></td>
            <td><input style="width: 100%;" type="text" class="motheremail" name="motheremail" placeholder="Email Address" ></td>
        </tr>
        <tr>
            <td><input style="width: 100%;" type="text" class="fathername" name="fathername" placeholder="Name of Father" ></td>
            <td><input style="width: 100%;" type="text" class="fatheroccupation" name="fatheroccupation" placeholder="Occupation" ></td>
            <td><input style="width: 100%;" type="text" class="fatheroffice" name="fatheroffice" placeholder="Office" ></td>
            <td><input style="width: 100%;" type="number" class="fathercontact" name="fathercontact" placeholder="Contact Number" ></td>
            <td><input style="width: 100%;" type="text" class="fatheremail" name="fatheremail" placeholder="Email Address" ></td>
        </tr>
        <tr>
            <td><input style="width: 100%;" type="text" class="guardian" name="guardian" placeholder="Name of Guardian" ></td>
            <td><input style="width: 100%;" type="text" class="guardianoccupation" name="guardianoccupation" placeholder="Occupation" ></td>
            <td><input style="width: 100%;" type="text" class="guardianoffice" name="guardianoffice" placeholder="Office" ></td>
            <td><input style="width: 100%;" type="number" class="guardiancontact" name="guardiancontact" placeholder="Contact Number" ></td>
            <td><input style="width: 100%;" type="text" class="guardianemail" name="guardianemail" placeholder="Email Address" ></td>
        </tr>
    </table>
</div>