<div class="user-info-container">
    <div class="user-info">
        <p>School Management System</p>
    </div>
    
    <div class="user-info-logout">
     
        <h4 class="login-user">Welcome, <%= user.username %>!</h4>
        <!-- <img class="notification" src="https://static.thenounproject.com/png/338473-200.png" alt="notification"> -->
        <img class="menu-show" src="https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png" alt="admin">
        
        <div class="dropdown-menu">
            <ul>
                <a href="/profile"><li>Profile</li></a>
                <a href="#"><li>Switch Account</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>  
        </div>               
    </div>
</div>
<script>

    const showMenu = document.querySelector('.menu-show');
    const dropDown = document.querySelector('.dropdown-menu')
    const container = document.querySelector('body')

    showMenu.addEventListener('click',() => {
        if(dropDown.style.display === "block"){               
            dropDown.style.display = "none";
        } else{              
            dropDown.style.display = "block";
        }
    })
    
   

</script>