<div class="user-info-container">
    <div class="user-info">
        <p>School Management System</p>
    </div>
    <div class="user-info-logout">
        <h4>Welcome, <%= user.username %>!</h4>
        <img class="notification" src="https://static.thenounproject.com/png/338473-200.png" alt="notification">
        <img class="menu-show" src="https://www.logolynx.com/images/logolynx/23/23938578fb8d88c02bc59906d12230f3.png" alt="admin">
        <div class="dropdown-menu">
            <ul>
                <a href="#"><li>Profile</li></a>
                <a href="#"><li>Switch Account</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>  
        </div>               
    </div>
</div>
<script>

    const showMenu = document.querySelector('.menu-show');
    const dropDown = document.querySelector('.dropdown-menu')
    const container = document.querySelector('body')

    showMenu.addEventListener('click',() => {
        if(dropDown.style.display === "block"){               
            dropDown.style.display = "none";
        } else{              
            dropDown.style.display = "block";
        }
    })
    
   

</script>