<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="error-container">
        <div class="error-subcontainer">
            <h2>Oops! Page not found.</h2>
            <h1>404</h1>
            <p>We cannot find what you're looking for.</p>
            <a href="#">Go to Home Page</a>
        </div>
    </div>   
</body>
</html>