<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="main">
        <%- include('./partials/navigation.ejs') %>
        <%- include('./db.ejs') %>
    </div>
</body>
</html>