<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <form class="reg-form">
        <div class="container">
            <div class="login">
                <div class="login-logo">
                    <img src="/images/phone.png" alt="phone-logo">
                </div>
                <div class="login-form">
                    <h1>WELCOME</h1>
                    <div class="input-login">
                        <label for="username">Username:</label><br/>
                        <input type="text" name="username" placeholder="Enter username">
                        <div class="username error"></div>
                    </div>
                    <div class="input-login">
                        <label for="password">Password:</label><br/>
                        <input type="password" name="password" placeholder="Enter password">
                        <div class="password error"></div>
                    </div>
                    <button>Log In</button>
                    <div class="forgot">
                        <a href="#">Forgot Password?</a>
                    </div>
                    <hr class="divide"/>
                    <div class="create-account">
                        <a href="/register">Create a New Account    </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        const form = document.querySelector('.reg-form')
        const userError = document.querySelector('.username.error')
        const passwordError = document.querySelector('.password.error')
    
        form.addEventListener('submit', async (e) => {
            e.preventDefault()
    
            const username = form.username.value 
            const password = form.password.value
    
            userError.textContent = ''
            passwordError.textContent = ''
    
            try {
                const res = await fetch('/login', {
                    method: 'POST',
                    body: JSON.stringify({ username, password }),
                    headers: { "Content-Type": "application/json" }
                })
    
                const data = await res.json()
                console.log(data)
                if (data.errors) {
                    userError.textContent = data.errors.username
                    passwordError.textContent = data.errors.password
                }
                if (data.user) {
                    location.assign('/')
                }     
            } catch (err) {
                console.log(err)
            }  
        })
    </script>
</body>
</html>