<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <form action="" method="POST">
        <%- include('./partials/parentsguardian.ejs') %> 
        <button>Update</button>
    </form>
    


</body>
</html>