<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <table>
        <tr>    
            <th>Mother Name</th>
            <th>Father Name</th>
            <th>Guardian</th>
        </tr>
        <th></th>
    </table>
</body>
</html>