<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="parents-guardian-container">
        <%- include('./partials/navigation.ejs') %>
        <div class="parents-guardian-subcontainer">
            <form class="parent-form" action="" method="POST">
                <%- include('./partials/parentsguardian.ejs') %> 
                <input class="update-parent" type="submit" name="submit" value="Update">
            </form>
        </div>
    </div>
  
    


</body>
</html>