<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="student-record-table">
        <%- include('./partials/navigation.ejs') %>
        <table border="1">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Grade/Level</th>
                <th>Section</th>
                <th>Department</th>
                <th>Date of Birth</th>
                <th>Place of Birth</th>
                <th>Religion</th>
                <th>Nationality</th>
                <th>Complete Address</th>
                <th>Mobile Number</th>
                <th>LRN</th>
                <th>Mobile Number</th>
                <th>Email Address</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>    
</body>
</html>