<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="student-record-table-container">

        <%- include('./partials/navigation.ejs') %>
        <div class="student-record-table-subcontainer">
            <table border="1" class="student-records">
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Grade/Level</th>
                    <th>Section</th>
                    <th>Department</th>
                    <th>LRN</th>
                </tr>

                <% for(let x = 0;x < 10; x++) { %>
                    <tr>
                        <% for(let y = 0; y < 7; y++) { %>
                            <td>asd</td>
                        <% } %>
                    </tr>
                <% } %>        
            </table>
        </div>

    </div>   
</body>
</html>