<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
<form action="" method="POST">
    <div class="container"> 

        <div class="login">
            <h1>Register</h1>
            <div class="user">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label for="username" >Username</label><br>
                <input type="text" name="username">
            </div>
            <div class="pass">
                <i class="fa fa-lock" aria-hidden="true"></i>

                <label for="password">Password</label><br>
                <input type="password" name="password">
            </div>
            <button class='btn'>Sign Up</button>
        </div>    

    </div>
</form>
</body>
</html>