<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <div class="section-main">
        <%- include('./partials/navigation.ejs') %>

        <div class="section-sub">
            <form action="/section" method="POST">
                <h2>Add Section</h2>
                <input type="text" name="sectionName" id="sectionName">
                
                <button>Submit</button>

                <% sections.forEach(sect => { %>
                    <div style="display: flex;">
                        <h3><%= sect.name %></h3>
                        <button type="button" class="delete-button" data-_id="<%= sect.id %>">Delete</button>
                    </div>

                <% }) %> 
            </form>
        </div>
    </div>

    <script>
        const deleteButtons = document.querySelectorAll('.delete-button')

        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                fetch(`/section/${button.dataset._id}`, {
                method: "DELETE"
                })
                .then(() => location.reload())
                .catch(err => console.log(err))
            })
        })

    </script>
    
</body>
</html>